[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "*"
django-import-export = "*"
pillow = "*"
gunicorn = "*"
psycopg2-binary = "*"
python-decouple = "*"
whitenoise = "*"
dj-database-url = "*"
django-bootstrap4 = "*"

[requires]
python_version = "3.7"
