{% extends 'base.html' %}
{# Load the tag library #}
{% load bootstrap4 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}
{% bootstrap_alert "Something went wrong" alert_type='error' %}

{% block content %}
    <div class="container text-center text-light bg-dark">
        <h1>Entrar</h1>
    </div>
    <form method="post">
      {% csrf_token %}
      {% bootstrap_form form %}


      <button type="submit" class="btn btn-primary btn-block">Entrar</button>
    </form>

{% endblock %}