{% extends 'base.html' %}

{# Load the tag library #}
{% load bootstrap4 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

{% block content %}

    <div class="container text-right">
        <a href="{% if user.is_authenticated %} {% url 'cadastro_list' %} {% else %} {% url 'home' %} {% endif %}" class="btn bn-sm btn-outline-primary">
           <i class="fas fa-arrow-alt-circle-left"></i> Voltar</a>
    </div>

      <div class="bg-danger text-light">
            {% if object %}
                <h5>Atualiza Cadastro</h5>
            {% else %}
                <h5>Participe</h5>
            {% endif %}
      </div>

    <div>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {% bootstrap_form form %}

        {% buttons %}
            <button type="submit" class="btn btn-primary">
                Gravar
            </button>
        {% endbuttons %}


    </form>
    </div>


{% endblock %}